<%= stylesheet_link_tag 'pages' %>
<%= stylesheet_link_tag 'sign_up' %>
<h1 class="title">Edit <%= @volunteer.user.username %></h1>

<%= render 'form', volunteer: @volunteer %>

<div class="show_back">
    <%= link_to 'Show', @volunteer %> |
    <%= link_to 'Back', volunteers_path %>
</div>
