<%= stylesheet_link_tag 'pages' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @volunteer.cpf %>
</p>

<p>
  <strong>Address:</strong>
  <%= @volunteer.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @volunteer.tel %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @volunteer.birthdate.to_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @volunteer.user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @volunteer.bio %>
</p>

<% if current_user == @volunteer.user %>
    <%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<% end %>
<%= link_to 'Back', volunteers_path %>
