<div class='nested-fields'>
    <div class="form-group">
      <%= f.label :cpf %>
      <%= f.text_field :cpf, autocomplete: "cpf", type: "cpf", class: "form-control", placeholder: "Valid CPF" %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, autocomplete: "address", type: "address", class: "form-control", placeholder: "Home address" %>
    </div>

    <div class="form-group">
      <%= f.label :tel %>
      <%= f.text_field :tel, autocomplete: "tel", type: "tel", class: "form-control", placeholder: "Phone number" %>
    </div>

    <div class="form-group">
      <%= f.label :birthdate %></br>
      <%= f.date_select :birthdate, {:start_year => 1920, :end_year => Date.today.year}, { class: "form-control date-select" } %>
    </div>

    <div class="form-group">
      <%= f.label :bio %>
      <%= f.text_area :bio, autocomplete: "bio", type: "bio", class: "form-control", placeholder: "Write about yourself!" %>
    </div>
</div>
