<%= stylesheet_link_tag 'pages' %>
<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @owner.name %>
</p>

<% if current_user == @owner.user %>
    <p>
      <strong>Cpf:</strong>
      <%= @owner.cpf %>
    </p>

    <p>
        <strong>Birthdate:</strong>
        <%= @owner.birthdate.to_date %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @owner.address %>
    </p>
<% end %>

<p>
  <strong>Tel:</strong>
  <%= @owner.tel %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @owner.bio %>
</p>
<% if current_user == @owner.user %>
    <%= link_to 'Edit', edit_owner_path(@owner) %> |
<% end %>
<%= link_to 'Back', owners_path %>
