<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'control-label' %>
    <%= form.text_field :name, class: 'form-control', placeholder: "Nome do seu pet." %>
    <small id="passwordHelpBlock" class="form-text text-muted">
         Isso é apenas um teste com o small. Estou em views/pets/_form.html.erb
    </small>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'control-label' %>
    <%= form.text_field :description, class: 'form-control', placeholder: "Descreva como seu pet é." %>
  </div>

  <div class="form-group">
    <%= form.label :details, class: 'control-label' %>
    <%= form.text_area :details, class: 'form-control form-control-lg', placeholder: "O que pode ser relevante: se toma alguma medicação, comportamento com outros pets e crianças, etc.\n" %>
  </div>

  <div class="form-group">
    <%= form.label :image, class: 'control-label' %>
    <%= form.text_field :image, class: 'form-control', :readonly => true %>
    <small id="passwordHelpBlock" class="form-text text-muted">
         Disabled.
    </small>
  </div>

  <div class="form-group">
    <%= form.label :link, class: 'control-label' %>
    <%= form.text_field :link, class: 'form-control', :readonly => true %>
    <small id="passwordHelpBlock" class="form-text text-muted">
         Disabled.
    </small>
  </div>

 <div class="form-group">
     <div class="form-group">
         <%= form.label :available, class: 'control-label' %>
     </div>
     <div class="checkbox">
         <label>
             <%= form.check_box :available, type: "checkbox" %>
             Eu li e aceito os termos de uso e disponibilizo meu pet para adoção temporária.
         </label>
     </div>
</div>
<!--
<div class="form-group">
    <div class="form-group">

    </div>
    <div class="form-check">
        <label>
            <%= form.check_box :available, class: "form-check-input", type: "checkbox" %>
            <%= form.label :available, class: 'form-check-label' %>
        </label>
    </div>
</div> -->

  <div class="form-group">
    <%= form.label :age, class: 'control-label' %>
    <%= form.number_field :age, class: 'form-control', placeholder: "Idade do seu pet.", min: 0, max: 250 %>
  </div>

  <div class="form-group">
    <%= form.submit 'Cadastrar Pet', :class => 'btn btn-primary' %>
  </div>
<% end %>
