<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, autocomplete: "name", type: "name", class: "form-control", placeholder: "Pet name" %>
  </div>

  <div class="form-group">
    <%= form.label :species %>
    <%= form.text_field :species, autocomplete: "species", type: "species", class: "form-control", placeholder: "Cat, dog, bird?" %>
  </div>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.text_area :details, autocomplete: "cpf", type: "cpf", class: "form-control", placeholder: "Write relevant information about your pet!" %>
  </div>

  <div class="form-group">
    <%= form.label :birthdate %></br>
    <%= form.date_select :birthdate, {}, { class: "form-control date-select" } %>
  </div>

  <div class="form-group">
      <%= form.check_box :available, {checked: true} %>
    <%= form.label :available %>
  </div>

  <div class="actions form-group">
    <%= form.submit "Create/Update pet", type: "submit", class: "btn btn-primary" %>
  </div>
<% end %>
