<%= stylesheet_link_tag 'pages' %>
<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Details</th>
      <th>Birthdate</th>
      <th>Owner</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.species %></td>
        <td><%= pet.details %></td>
        <td><%= pet.birthdate.to_date %></td>
        <td><%= pet.owner.name %></td>
        <td><%= pet.available %></td>
        <td><%= link_to 'Show', pet %></td>
        <% if current_user && current_user.id == pet.owner.user.id %>
            <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
            <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.role == 2 %>
    <%= link_to 'New Pet', new_pet_path %>
<% end %>
