<%= stylesheet_link_tag 'pages' %>
<p id="notice"><%= notice %></p>

<div class="div_foto">
  <%= image_tag(@pet.image, :class => "foto")%>
</div>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species %>
</p>

<p>
  <strong>Details:</strong>
  <%= @pet.details %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.idade %> years & <%= @pet.idade_mes %> months
</p>

<p>
  <strong>Owner:</strong>
  <%= @pet.owner.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @pet.owner.tel %>
</p>

<p>
  <strong>Available:</strong>
  <%= @pet.available %>
</p>

<% if current_user == @pet.owner.user %>
    <%= link_to 'Edit', edit_pet_path(@pet) %> |
<% end %>
<%= link_to 'Back', pets_path %>
