<%= stylesheet_link_tag 'pages' %>

<div class="parent">
    <%= link_to new_user_registration_path do %>
    <%= image_tag "https://www.petz.com.br/blog/wp-content/uploads/2017/07/gato02.jpg", class: "half-page-image" %>
    <% end %>
    <%= link_to new_volunteer_path do %>
    <%= image_tag "https://www.petz.com.br/blog/wp-content/uploads/2017/07/gato02.jpg", class: "half-page-image" %>
    <% end %>
</div>
