<%= stylesheet_link_tag 'pages', media: 'all' %>
<div class="center jumbotron"></br><h1><span nome3>Welcome to </span><span class="nome1">Pet</span><span class="nome2">Center</span></h1></br></div>

<div class="div_home">
    <ul class="ul_home">
        <% @pets.each do |pet| %>
        <%= link_to pet do %>
            <li class="li_home">
              <img src="" class="img_home">
        <% end %>
                <h3 class="h3_home"><%= pet.name %></h3>
                <p class="p_home">
                  <td><%= pet.details %></td></br></br>
                  <td><%= pet.birthdate.to_date %></td></br>
                  <td>Dono: <%= pet.owner.name %></br>
                  <td>e-mail: <%= pet.owner.user.email %> | phone: <%= pet.owner.tel %></td></br>
                  <td><%= link_to 'Show', pet %></td>
                  <% if current_user && current_user == pet.owner.user %>
                      <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
                      <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
            </li>
        <% end %></p>
  </ul>
</div>
